<!-- projectName: ToDoList web application
Author: Lilian Umeakunne
Date created: August 2021 -->
<%- include('header'); -%>

<h1>This is the About Page</h1>

<p>I have always wanted to build a simple to-do-list for my bucketlist.</p>

<%- include('footer'); -%> 